%article
  .work-images
    %img{:src => work.image_url}
  .work-description
    %h1= work.title
    %dl
      %dt Date Complete
      %dd= work.date

      %dt Project Summary
      %dd= work.summary

      %dt Roles
      %dd
        %ul
          - work.roles.each do |role|
            %li
              %span
                &#8226;
              = role
    %p.work-link= link_to "Visit #{work.title}", work.url
