%article
  .work-description
    %h1= link_to work.title, "/work/#{work.slug}/" 
    %h2.h4= link_to work.url, work.url
    %time= work.date
    %p= work.summary
    %h4 Roles
    %ul
      - work.roles.each do |role|
        %li= role
  .work-images
    %img{:src => work.desktop_image}
    %img{:src => work.mobile_image}
