%article
  .work-images
    %img{:src => work.desktop_image}
    %img{:src => work.mobile_image}
  .work-description
    %h1= work.title
    %dl
      %dt Date Complete
      %dd= work.date

      %dt Project Sumary
      %dd= work.summary

      %dt Roles
      %dd
        %ul
          - work.roles.each do |role|
            %li= role
    %p.work-link= link_to "Visit #{work.title}", work.url
