.line
  %h2#work Work
  %ul.work
    - @work.each do |work|
      %li
        = partial :work, :work => work

.line#about
  .widget
    = partial :about

.line
  .widget
    = partial :speaking

  .widget
    = partial :reading, :booklist => @reading.booklist

.line
  .widget
    = partial :elsewhere
.line
  .center.light
    &copy; 2012 Stephen Wyatt Bush
