!!! 5
%head
  %title Stephen Wyatt Bush &ndash; Web Developer
  :plain
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <meta name="description" content="Portfolio and Resume of Stephen Wyatt Bush"/> 
    <meta name="keywords" content="web developer, chattanooga, stephen wyatt bush, stephen bush, wyattdanger, web" />
    <meta name="author" content="Stephen Wyatt Bush">
    <meta content='Copyright (c) 2012 Stephen Wyatt Bush. All Rights Reserved.' name='copyright' />
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,600|Average' rel='stylesheet' type='text/css'>
    <link href='/site.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

%body
  %header
    .content
      %hgroup
        %h1 Stephen Wyatt Bush
        %h2 Web Developer
      %nav
        %ul
          %li= link_to "About", "#about"
          %li= link_to "Contact", "#contact"
          %li= link_to "Blog", "//blog.stephenwyattbush.com"
  %section
    .content
      = yield
  = partial :google_analytics
  = partial :gauges
