!!! 5
%head
  :plain
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,600|Average' rel='stylesheet' type='text/css'>
    <link href='/site.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

%body
  %header
    .content
      %h1= link_to "Stephen Wyatt Bush, Web Developer", "/"
      %nav
        %ul
          %li= link_to "Work", "#work"
          %li= link_to "About", "#about"
          %li= link_to "Contact", "#contact"
  %section
    .content
      = yield
